
mongodb/*


mongodb-osx-x86_64-3.4.1.tgz
FangKaService/data/*
FangKaService/__MACOSX/*
FangKaService/Leak/*
FangKaService/web/Leak/*
FangKaService/logs/*

FangKaService/node_modules
FangKaService/node_modules/*

FangKaService/.idea/*
.idea/*
FangKaService/app/share/majiang_tabs/*
FangKaSerview/.idea/workspace.xml

